#card-regra {
    background-color: rgba(217, 217, 217, 0.15); /* Ajuste a opacidade aqui */
    width: 1291px;
    height: 671px;
    border-radius: 10px;
    margin-left: 100px;
}
#title-regra {
    text-align: center;
    font-weight: 200;
    font-size: 30px;
    color: #5B5B5B;
    /* color: black; */
    opacity: 1;
    padding-top: 50px;
}
#display-campos {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.campos-title {
    font-weight: 600;
    color: #5B5B5B;
    font-size: 16px;
    margin-left: 100px;
}
.importante {
    color: #01638C;
}
input {
    width: 300px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}