#containerBloquear {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#titleBloquear {
    color: black;
    font-family: "Lexend Deca", sans-serif;
    font-size: 24px;
    font-weight: 400;
}
#subtitle {
    color: rgb(75, 75, 75);
    font-weight: 300;
    font-size: medium;
    margin-top: 0;
}
#userList {
    list-style-type: none; 
    padding: 0; 
    width: 100%;
    margin-left: 50%; 
}
.user-item {
    background-color: #e9ecef; 
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    transition: background-color 0.3s, transform 0.2s;
    width: 45%;
}
.user-item:hover {
    background-color: #ced4da; 
}
.user-item.blocked {
    background-color: rgba(255, 0, 0, 0.1); 
    color: #ff0000; 
}
.user-name {
    font-weight:600;
    color: #4f4f50; 
    font-size: 0.8rem; 
    font-family: "Jost";
    margin-left: 5px;
}
.user-email {
    color: #01638c; 
    font-weight: normal;
    font-size: 0.9rem; 
    font-family: "Jost";
}
.no-users {
    text-align: center; 
    font-size: 1rem; 
    color: #6c757d; 
    font-family: "Jost";
}
#bloquearDisplay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.bloquear {
    border: none;
    padding: 8px 12px;
    font-family: "Jost", sans-serif;
    border-radius: 8px;
    background-color: #571010;
    color: #f2f2f2;
    font-weight: 500;
    margin-left: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bloquear:hover {
    background-color: #3e0c0c;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.Desbloquear {
    border: none;
    padding: 8px 12px;
    font-family: "Jost", sans-serif;
    border-radius: 8px;
    background-color: #5b865a;
    color: #f2f2f2;
    font-weight: 500;
    margin-left: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Desbloquear:hover {
    background-color: #497148;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.remuneracao {
    border: none;
    padding: 8px 12px;
    font-family: "Jost", sans-serif;
    border-radius: 8px;
    background-color: #4083b7;
    color: #f2f2f2;
    font-weight: 500;
    margin-left: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}
.remuneracao:hover {
    background-color: #336b91;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.remuneracao img, .Desbloquear img, .bloquear img {
    width: 20px;
    height: 20px;
}
.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#updateForm {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 4px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
    margin-bottom: 25px;
}
#titleUpdate {
    font-family: 'Lexend Deca';
    margin-right: 10px;
    color: #336b91;
    font-weight: 400;
    font-size: 14px;
}
#remuneracao {
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}
#remuneracao:active, #remuneracao:hover{
    border: none;
}