#display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#displayButton {
    display: flex;
    justify-content:flex-end ;
    width: 100%;
}
#download {
    padding: 10px;
    font-family: "Jost";
    border: 1px solid #60a1b8;
    border-radius: 4px;
    background-color: #dedede;
    color: #60a1b8;
    font-weight: 600;
    margin-right: 100px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
#download img {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}
#download:hover {
    background-color: #60a1b8;
    color: #ffffff;
    border-color: #4090a0;
    /* fill: #ffffff; */
}
#displayGraficoNumerico {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 15px;
    margin-left: 148px;
    margin-top: 20px;
}
#backgroundNumerico1 {
    background-color: #f6f6f6;
    /* gap: 15px; */
    width: 400px;
    height: 140px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative;
}
#backgroundNumerico1 img {
    position: absolute;
    top: 16px; 
    right: 20px; 
    width: 20px; 
    height: 20px;
}
.titleGrafico {
    color: #8A8686;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 25px;
}
#backgroundNumerico2 {
    background-color: #f6f6f6;
    color: #8A8686;
    width: 380px;
    height: 140px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    margin-right: 0px;
    position: relative;
}
#backgroundNumerico2 img {
    position: absolute;
    top: 16px; 
    right: 20px; 
    width: 20px; 
    height: 20px;
}
#backgroundNumerico3 {
    background-color: #f6f6f6;
    color: #8A8686;
    width: 380px;
    height: 140px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative;
}
#backgroundNumerico3 img {
    position: absolute;
    top: 16px; 
    right: 15px; 
    width: 20px; 
    height: 20px;
}
.campoGrafico {
    text-align: center;
    color: #5A9DB9;
    font-size: 40px;
    margin-top: 0px;
    text-shadow: 2px 2px 2px rgb(214, 228, 234);
}
/* Define a animação de pulinho */
@keyframes jump {
    0% {
        transform: translateY(0); /* Posição inicial */
    }
    50% {
        transform: translateY(-10px); /* Sobe 10px */
    }
    100% {
        transform: translateY(0); /* Volta à posição inicial */
    }
}

/* Classe que será adicionada ao clicar na imagem */
.jump {
    animation: jump 0.5s ease; /* Duração de 0.5 segundos */
}
