#display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#displayButton {
    display: flex;
    justify-content:flex-end ;
    width: 100%;
}
#download {
    padding: 10px;
    font-family: "Jost";
    border: 1px solid #60a1b8;
    border-radius: 4px;
    background-color: #dedede;
    color: #60a1b8;
    font-weight: 600;
    margin-right: 100px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
#download img {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}
#download:hover {
    background-color: #60a1b8;
    color: #ffffff;
    border-color: #4090a0;
    /* fill: #ffffff; */
}