footer {
    background-color: #5aaaca;
    color: #FFFF;
    border-radius: 15px;
    margin: 15px;
    padding: 8px;
    width: 100%;
    max-width: 1440px;
    margin-left: 25px;
}
#footer-title {
    text-align: center;
    font-size: 14px;
}