#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
#content {
  flex-grow: 1; 
}
.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.khula-bold {
  font-family: "Khula", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* .default-background {
  background-color: #f4f4f4; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.login-background,
.cadastro-background {
  background-color: #51BDEB; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
} */