#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  justify-content: space-between;
}
#content {
  flex-grow: 1; 
}
.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.khula-bold {
  font-family: "Khula", sans-serif;
  font-weight: 700;
  font-style: normal;
}