@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5aaaca;
    border-radius: 15px;
    margin: 15px auto;
    padding: 10px;
    width: 100%;
    max-width: 1440px;
}
Link {
    text-decoration: none;
}
p {
    color: #111111;
    font-size: 20px;
    font-family: "Jost";
    font-weight: bold;
    padding-left: 15px;
}
.logout-icon {
    width: 24px;
    height: 24px;
    padding-right: 15px;
}
.icon-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
#cadastrar-regra, #dashboardGestor {
    font-size: 17px;
}
.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}